<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <style>
        .cont
        {
            background-color:#737CA1;
            color:while;
            text-align:center;
        }
        .btn
        {
            background-color:white;
            color:black;
            font-weight:bold;
            text-align:center;
        }
    </style>
</head>
<body>
<div class="cont">

    <h1><b>CONTACT US</b></h1>
    <p>Its's Food Lovers like you who inspire us to do what we do. Your comments,ideas and question pushes to <br>go that extra mile, everytime. So drop us a line!!</p>
    <input type="button" value="Get in Touch" class="btn">

</div>

</body>
</html>